node_modules
.next
out
build

# Variables d'environnement
.env
.env.local
.env*.local

# Photos uploadées en local
/data

# Tests
/playwright-report
/test-results
/.playwright

# Divers
*.log
.DS_Store
